body{
    margin: 0;
    padding: 0;
    background-color: burlywood;
    color: white;
}
.container{
    width: 500px;
    height: 600px;
    border: 2px solid white;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 0 10px white;
    margin: 0 auto;
    margin-top: 80px;
}
.container h1{
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: yellow;
}
.container input{
    width: 300px;
    margin: 20px 40px;
    padding: 8px;
    border-radius: 10px;
}
.container button{
    width: 85px;
    height: 40px;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.container ul{
    margin: 20px 40px;
}
.container li{
    font-size: 2em;
}
.container li button{
    margin: 10px 50px;
}